@{
    ViewData["Title"] = "User Context";
}

<div class="text-center">
<h1 class="display-4">TELECOMPTEC</h1>

<p style="font-family:verdana;"><a href="http://localhost:5001/RegisterUser">Compras</a></p>
</div>