@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TELECOMPTEC - Manager</h1>
    <p style="font-family:verdana;"><a href="http://localhost:5001/Event">Cadastro de atividades</a></p>
    <p style="font-family:verdana;"><a href="http://localhost:5001/UserProfile">Cadastro de usuários</a></p>
    <p style="font-family:verdana;"><a href="http://localhost:5001/Coupons">Cadastro de cupons</a></p>
    <p style="font-family:verdana;"><a href="http://localhost:5001/Selling">Compras</a></p>

</div>
