@model ProjEventWeb.Models.UserEventListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Bem-vindo ao TELECOMPTEC</h2>
<!-- <p>
    <a style="font-family:verdana" asp-action="Create">Novo Cadastro</a>
</p> -->
    

<p style="font-family:verdana;"><a href="http://localhost:5001/Selling">Comprar entradas</a></p>
<br/>

<h4>Entradas adquiridas</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Tipo de atividade
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserEvent)
        {
            <tr>
                <td>
                    @item.Event.Description
                </td>
                <td>
                    @item.Event.Date
                </td>
                <td>
                    @item.Event.Category
                </td>
            </tr>
        }
        </tbody>
</table>


